<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Estudiantes')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h1 class="mb-4" th:text="${estudiante.carnet == null ? 'Crear estudiante' : 'Editar estudiante'}">
                    </h1>

                    <form
                        th:action="@{${estudiante.carnet == null} ? '/estudiantes/crear' : '/estudiantes/editar/' + estudiante.carnet}"
                        th:object="${estudiante}" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="carnet" class="form-label">Carnet</label>
                            <input type="text" id="carnet" name="carnet" class="form-control" th:field="*{carnet}"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="NOMBRES" class="form-label">Nombres</label>
                            <input type="text" id="NOMBRES" name="NOMBRES" class="form-control" th:field="*{NOMBRES}"
                                required>
                        </div>

                        <!-- Campo para APELLIDOS -->
                        <div class="mb-3">
                            <label for="APELLIDOS" class="form-label">Apellidos</label>
                            <input type="text" id="APELLIDOS" name="APELLIDOS" class="form-control"
                                th:field="*{APELLIDOS}" required>
                        </div>

                        <!-- Campo para TELEFONO -->
                        <div class="mb-3">
                            <label for="TELEFONO" class="form-label">Teléfono</label>
                            <input type="tel" id="TELEFONO" name="TELEFONO" class="form-control" th:field="*{TELEFONO}"
                                required maxlength="9">
                        </div>

                        <!-- Campo para TELEFONO2 -->
                        <div class="mb-3">
                            <label for="TELEFONO2" class="form-label">Teléfono Alternativo</label>
                            <input type="tel" id="TELEFONO2" name="TELEFONO2" class="form-control"
                                th:field="*{TELEFONO2}" maxlength="9">
                        </div>

                        <!-- Campo para CORREO -->
                        <div class="mb-3">
                            <label for="CORREO" class="form-label">Correo Electrónico</label>
                            <input type="email" id="CORREO" name="CORREO" class="form-control" th:field="*{CORREO}"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="carrera" class="form-label">Seleccione una carrera.</label>
                            <select class="form-select" name="carrera" id="carrera" th:field="*{Carrera}">
                                <option value="" disabled selected>Seleccione una carrera</option>
                                <option th:each="carrera : ${carreras}" th:text="${carrera.descripcion}"
                                    th:value="${carrera.idCarrera}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="HojaDeVida">Hoja de Vida</label>
                            <input type="file" id="HojaDeVida" name="HojaDeVida" class="form-control"
                                accept=".pdf,.doc,.docx">
                        </div>

                        <div class="mb-3">
                            <label for="FotoUrl">Foto estudiante</label>
                            <input type="file" id="FotoUrl" name="FotoUrl" class="form-control"
                                accept=".png, .jpg, .jpeg">
                        </div>

                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/estudiantes/obtenerTodos" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>

            <!-- Pie de página -->
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>

    <!-- Modales y scripts -->
    <div th:replace="fragments/userModal :: userModal"></div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>

    <script>
        function formatPhoneInput(event) {
            let input = event.target;
            let value = input.value.replace(/[^0-9]/g, "");
            if (value.length > 4) {
                value = value.slice(0, 4) + "-" + value.slice(4);
            }
            input.value = value;
        }

        document.getElementById("TELEFONO").addEventListener("input", formatPhoneInput);
        document.getElementById("TELEFONO2").addEventListener("input", formatPhoneInput);

        // Validacion imagen
        document.getElementById("FotoUrl").addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const validExtensions = ["image/png", "image/jpeg"];
                if (!validExtensions.includes(file.type)) {
                    alert("Solo se permiten archivos PNG o JPG.");
                    event.target.value = "";
                }
            }
        });
    </script>
</body>

</html>