DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar" />
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Práticas profesionales Activas</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <span th:text="${practivasActivas}" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Práticas profesionales Activas de Ingenieria</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <span th:text="${practivasActivasIngenieria}" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cogs fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Práticas profesionales Activas de Técnico</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <span th:text="${practivasActivasTecnico}" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-compass fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div style="width: 70%; margin: 0 auto;">
                            <canvas id="growthChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Footer -->
            <div th:replace="fragments/footer :: footer" />
            <!-- End of Footer -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div th:replace="fragments/userModal :: userModal"></div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
    <script th:inline="javascript">
        // Convierte las listas de Java a JSON para que el navegador pueda entenderlas
        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"];
        const values2021 = [12000, 15000, 18000, 20000, 25000, 27000, 30000];
        const values2022 = [14000, 16000, 19000, 22000, 28000, 29000, 32000];

        // Renderizar el gráfico
        const ctx = document.getElementById('growthChart').getContext('2d');
        console.log(ctx)
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: '2021',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        data: values2021
                    },
                    {
                        label: '2022',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        data: values2022
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>