<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <title>Usuarios</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Usuarios</h1>
                    <a href="/usuarios/nuevo" class="btn btn-primary mb-3">Crear Usuario</a>

                    <div class="table-responsive">
                        <table class="table table-striped" width="100%" cellspacing="0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Username</th>
                                    <th>Correo</th>
                                    <th>Estado</th>
                                    <th>Rol</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${usuarios}">
                                    <td th:text="${usuario.idUsuario}"></td>
                                    <td th:text="${usuario.nombres}"></td>
                                    <td th:text="${usuario.apellidos}"></td>
                                    <td th:text="${usuario.username}"></td>
                                    <td th:text="${usuario.correo}"></td>
                                    <td th:text="${usuario.estado == 'A' ? 'Activo' : 'Inactivo'}"></td>
                                    <td th:text="${usuario.idRol}"></td>
                                    <td>
                                        <form th:action="@{/usuarios/cambiarEstado/{id}(id=${usuario.idUsuario})}"
                                            method="post" style="display: inline;">
                                            <button type="submit"
                                                style="background: none; border: none; padding: 0; cursor: pointer;">
                                                <i th:classappend="${usuario.estado == 'A' ? 'fas fa-lock-open' : 'fas fa-lock'}"
                                                    style="color: #085691;"></i>
                                            </button>
                                        </form>

                                        <a th:href="@{/usuarios/editar/{id}(id=${usuario.idUsuario})}">
                                            <i class="fas fa-edit" style="color: #085691;"></i></a>

                                        <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.idUsuario})}"
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                            <i class="fas fa-trash-alt" style="color: #085691;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <div th:replace="fragments/userModal :: userModal"></div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>