<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h2 th:text="${#strings.isEmpty(empresa.idEmpresa) ? 'Crear Nueva Empresa' : 'Editar Empresa'}">
                    </h2>

                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                        role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form
                        th:action="@{${empresa.idEmpresa == null} ? '/empresas/guardar' : '/empresas/editar/' + ${empresa.idEmpresa}}"
                        th:object="${empresa}" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}"
                                placeholder="Nombre de la empresa" required>
                        </div>

                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <select id="estado" name="estado" class="form-select" th:field="*{estado}" required>
                                <option value="" selected disabled>Seleccione un estado</option>
                                <option value="A" th:selected="*{estado == 'A'}">Activo</option>
                                <option value="I" th:selected="*{estado == 'I'}">Inactivo</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="rubro" class="form-label">Rubro</label>
                            <select id="rubro" name="rubro" class="form-control select-2" th:field="*{rubro}" required>
                                <option th:each="rubro : ${rubro}" th:value="${rubro.idRubro}"
                                    th:text="${rubro.descripcion}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">Ubicación</label>
                            <input type="text" id="ubicacion" name="ubicacion" class="form-control"
                                th:field="*{ubicacion}" placeholder="Ubicación de la empresa">
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" id="telefono" name="telefono" class="form-control" th:field="*{telefono}"
                                placeholder="Teléfono de la empresa" maxlength="9">
                        </div>

                        <div class="mb-3">
                            <label for="sitioWeb" class="form-label">Sitio Web</label>
                            <input type="text" id="sitioWeb" name="sitioWeb" class="form-control" th:field="*{sitioWeb}"
                                placeholder="Sitio web de la empresa">
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="/empresas" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div th:replace="/fragments/userModal :: userModal"></div>
        <div th:replace="/fragments/jsComponents :: jsScripts"></div>
        
        <script>
            function formatPhoneInput(event) {
                let input = event.target;
                let value = input.value.replace(/[^0-9]/g, "");
                if (value.length > 4) {
                    value = value.slice(0, 4) + "-" + value.slice(4);
                }
                input.value = value;
            }
    
            document.getElementById("telefono").addEventListener("input", formatPhoneInput);
        </script>
</body>

</html>