<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <title>Nueva Práctica</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h1 class="mb-4">Nueva Practica</h1>

                    <form th:action="${'/pasantias'}" th:object="${pasantia}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Prática profesional N°</label>
                            <div class="container">
                                <div class="row">
                                    <input type="text" id="num-carrera" name="num-carrera" class="form-control col" readonly>
                                    <input type="text" id="correlativo" name="correlativo" th:field="*{correlativo}" class="form-control col" readonly>
                                    <input type="text" id="anioEstudiante" name="anioEstudiante" th:field="*{anioEstudiante}" class="form-control col" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="idCarrera" class="form-label">Carrera *</label>
                            <select id="idCarrera" name="idCarrera" class="form-control select-2" th:field="*{carrera.idCarrera}" required>
                                <option value="0">Seleccionar carrera...</option>
                                <option th:each="carrera : ${carreras}" th:value="${carrera.idCarrera}" th:text="${'[' + carrera.codCarrera +'] ' + carrera.descripcion}">
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="carnet" class="form-label">Estudiante *</label>
                            <select id="carnet" name="carnet" class="form-control" th:field="*{carnet}" required>
                                <option value="0">Seleccionar...</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado de la Práctica *</label>
                            <select id="estado" name="estado" class="form-control" th:field="*{estado}" required>
                                <option value="0">Seleccionar un estado...</option>
                                <option th:each="est : ${estados}" th:value="${est.value}" th:text="${est.text}">
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/pasantias" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <div th:replace="fragments/userModal :: userModal"></div>

    <div th:replace="fragments/jsComponents :: jsScripts"></div>

    <!-- Custom Javascript -->
     <script>
        $(document).ready(() => {
            $('#idCarrera').on("change", function(){
                $.ajax({
                    url: "/pasantias/obtenerCarrera/" + this.value,
                    type: "GET",
                    success: function(data){
                        document.querySelector("#num-carrera").value = data.codCarrera;
                    }
                });

                $.ajax({
                    url: "/pasantias/obtenerEstudiantesPorCarrera/" + this.value,
                    type: "GET",
                    success: function(data){
                        // LImpiar opciones
                        document.querySelector("#carnet").innerHTML = '';

                        // Agregar opcion default
                        let option = new Option('Seleccionar un estudiante...', '0');
                        document.querySelector("#carnet").add(option);

                        // Agregar opciones
                        data.forEach((element, index) => {
                            let valueOption = '['+ element.carnet +'] ' + element.nombres + ' ' + element.apellidos;
                            let option = new Option(valueOption, element.carnet);
                            document.querySelector("#carnet").add(option);
                        });
                    }
                });
            });

            document.querySelector('#carnet').addEventListener('change', function(){
                let anioEstudiante = '0' + this.value.slice(2,4);
                document.querySelector('#anioEstudiante').value = anioEstudiante;
                console.log(anioEstudiante);
            });
        });
     </script>
</body>

</html>