<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css">
    <title>Pasantias</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Prácticas profesionales</h1>
                    <a href="/pasantias/nuevo" class="btn btn-primary mb-3">Crear Práctica profesional</a>

                    <div class="table-responsive">
                        <table class="table table-striped" width="100%" cellspacing="0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código carrera</th>
                                    <th>Correlativo</th>
                                    <th>Año estudiante</th>
                                    <th>Carnet estudiante</th>
                                    <th>Nombres estudiante</th>
                                    <th>Apellidos estudiantes</th>
                                    <th>Estado</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${pasantias}">
                                    <td th:text="${p.idPasantia}"></td>
                                    <td th:text="${p.carrera.codCarrera}"></td>
                                    <td th:text="${p.correlativo}"></td>
                                    <td th:text="${p.anioEstudiante}"></td>
                                    <td th:text="${p.estudiante.carnet}"></td>
                                    <td th:text="${p.estudiante.NOMBRES}"></td>
                                    <td th:text="${p.estudiante.APELLIDOS}"></td>
                                    <td th:text="${#strings.equals(p.estado, 'E')} ? 'En Proceso' : 'Finalizado'"></td>
                                    <td>
                                        <!---->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <div th:replace="fragments/userModal :: userModal"></div>
    
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
</body>

</html>