<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Materias')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignatura</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"></div>
            <div id="content">
                <div class="container-fluid">
                    <h1 class="mb-4" th:text="${materia.idMateria == null ? 'Crear Asignatura' : 'Editar Asignatura'}"></h1>

                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                        role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form
                        th:action="@{${materia.idMateria == null ? '/materias/guardar' : '/materias/editar/' + materia.idMateria}}"
                        th:object="${materia}" method="post">

                        <!-- Campo Nombre -->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}"
                                required>
                        </div>

                        <!-- Campo Carrera -->
                        <div class="mb-3">
                            <label for="carrera" class="form-label">Carrera</label>
                            <select id="carrera" name="carrera" class="form-control select-2" th:field="*{carrera}"
                                required>
                                <option value="" selected disabled>Seleccione una carrera</option>
                                <option th:each="carrera : ${carreras}" th:value="${carrera.idCarrera}"
                                    th:text="${carrera.descripcion}">
                                </option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="pensum" class="form-label">Pénsum</label>
                            <select id="pensum" name="pensum" class="form-control select-2" th:field="*{pensum}"
                                required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option th:each="pensum : ${pensums}" th:value="${pensum.ID_PENSUM}"
                                    th:text="${pensum.NOMBRE}">
                                </option>
                            </select>
                        </div>

                        <!-- Campo Estado -->
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <select id="estado" name="estado" class="form-control" th:field="*{estado}" required>
                                <option value="" disabled selected>Seleccionar...</option>
                                <option value="A" th:selected="${materia.estado == 'A'}">Activo</option>
                                <option value="I" th:selected="${materia.estado == 'I'}">Inactivo</option>
                            </select>
                        </div>

                        <!-- Campo Horas -->
                        <div class="mb-3">
                            <label for="horas" class="form-label">Horas</label>
                            <input type="number" id="horas" name="horas" class="form-control" th:field="*{horas}"
                                required>
                        </div>

                        <!-- Botones -->
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/materias" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>

            <!-- Pie de página -->
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>

    <!-- Modales y scripts -->
    <div th:replace="fragments/userModal :: userModal"></div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
</body>

</html>