<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
           <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"/>
            <!-- Main Content -->
            <div id="content"class="h-full">
              <div class="container-fluid h-100">
                <div class="row">
                    <div class="col-12" style="height: fit-content !important;"> 
                        <div class="card mb-4 ">
                            <div class="card-header">Búsqueda de Estudiante</div>
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-12 col-xl-6">
                                        <label for="idCarrera" class="form-label" >
                                                Carrera: 
                                        </label>
                                        <select id="idCarrera" name="idCarrera" class="form-control select-2" >
                                            <option value="0">Seleccionar carrera...</option>
                                            <option th:each="carrera : ${carreras}" th:value="${carrera.idCarrera}" th:text="${'[' + carrera.codCarrera +'] ' + carrera.descripcion}">
                                            </option>
                                        </select>
    
                                    </div>
                                
                                    <div class="col-12 col-xl-6">
                                        <label for="carnet">
                                                Código de estudiante: 
                                        </label>
                                        <select id="carnet" name="carnet" class="form-control select-2"
                                            required>
                                            <option value="0" disabled selected>Seleccionar...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <button class="btn btn-success" id="btnGenerar" >
                                            Buscar Prácticas Profesionales
                                    </button>    
                                </div>
                                    
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
                <div class="row ">
                    <div class="col-12  " >
                        <div class="card mb-4 ">
                            <div class="card-header">Prácticas Profesionales del Estudiante</div>
                            <div class="card-body" id="dataResponse">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!--Modal para los reportes-->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl  modal-dialog-centered" role="document"  >
                  <div class="modal-content" style="height: 85vh;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Formulario de Práctica Profesional </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     
                        <iframe width="100%" id="frame"
                        height="100%" src="/reportPrinter" frameborder="0">

                        </iframe>
                
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"/>
            <!-- End of Footer -->

        </div>
    </div>

    <div th:replace="fragments/userModal :: userModal">

    </div>

    <div th:replace="fragments/jsComponents :: jsScripts">

    </div>

    <script type="text/javascript"  th:inline="javascript">
       
        $(document).ready(()=>{

     


            $("#btnGenerar").on("click", (e) => {
                let carnetVal = $("#carnet").val(); 
               
                if (carnetVal == null || carnetVal == "0"){
                    Swal.fire( { 
                        title: 'Error',
                        text: 'Por favor seleccione un estudiante',
                        icon: 'warning',
                        confirmButtonText: 'Volver'
                    }); 
                }else 
               {
                 $.ajax({
                    url: "/reporteria/formularios/" + carnetVal, 
                    type: "GET", 
                    success : (response)=> {
                        $("#frame").attr("src", "/reportPrinter"); 
                        $("#dataResponse").html("");
                        if(response == ""){
                            Swal.fire({
                                title: 'Error',
                                text: 'No se han encontrado prácticas profesionales para el estudiante seleccionado',
                                icon: 'error',
                                confirmButtonText: 'Volver'
                            })
                        }else 
                        {
                            $("#dataResponse").append(response); 
                            //$("#frame").attr("src", "/reportPrinter"); 
                            Swal.fire({
                                title: 'Exito',
                                text: 'Se obtuvieron las prácticas profesionales del estudiante',
                                icon: 'success',
                                confirmButtonText: 'Ok'
                            })
                        }
                        
                    }
                })
                }
            })
         $('#idCarrera').on("change", function () {
            $.ajax({
                    url: "/pasantias/obtenerEstudiantesPorCarrera/" + this.value,
                    type: "GET",
                    success: function (data) {
                        // LImpiar opciones
                        document.querySelector("#carnet").innerHTML = '';

                        // Agregar opcion default
                        let option = new Option('Seleccionar un estudiante...', '0');
                        document.querySelector("#carnet").add(option);

                        // Agregar opciones
                        data.forEach((element, index) => {
                            let valueOption = '[' + element.carnet + '] ' + element.nombres + ' ' + element.apellidos;
                            let option = new Option(valueOption, element.carnet);
                            document.querySelector("#carnet").add(option);
                        });
                    }
                });
            }); 
        }) 
        
        
        function mostrarReporte( carnet, pasantia,  carrera, form ){

            let formName = (form == 1 )? "PPUDBF101": (form==2)? "PPUDBF102": "PPUDBF103";             
            let reporte = "/formularios/" + formName + "/" + pasantia + "-" + carrera + "-" + carnet; 

            $("#frame").attr("src", reporte); 
        }
    </script>
</body>
</html>