<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div th:replace="fragments/navbar :: navbar"></div>
           <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div th:replace="fragments/topbar :: topbar"/>
            <!-- Main Content -->
            <div id="content"class="h-full">
              <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-md-12 col-xl-4"> 
                        <div class="card mb-4 d-xl-block d-none ">
                        
                                <div class="card-header">
                                    Filtros de reporte
                                </div>
                                <div class="card-body">
                                    <div>
                                        <label for="tipos">Formulario a generar</label>
                                        <select name="tipos" id="Nreportes" class="form-control select-2" th:field="${reporte}"  >
                                            <option value="">Seleccione un formulario...</option>
                                            <option value="PPUDBF101" >PP-UDB-FI-01</option>

                                            <option value="PPUDBF102" >PP-UDB-FI-02</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="idpasantia">
                                            Número de práctica profesional:
                                        </label>
                                        <input type="text" id="idpasantia" class="form-control"/>
                                    </div>
                                    <div>
                                        <label for="idCarrera" class="form-label" >
                                            Carrera: 
                                        </label>
                                        <select id="idCarrera" name="idCarrera" class="form-control select-2"  >
                                            <option value="0">Seleccionar carrera...</option>
                                            <option th:each="carrera : ${carreras}" th:value="${carrera.idCarrera}" th:text="${'[' + carrera.codCarrera +'] ' + carrera.descripcion}">
                                            </option>
                                        </select>

                                    </div>
                            
                                    <div>
                                        <label for="codEstudiante">
                                            Código de estudiante: 
                                        </label>
                                        <input type="text" id="codEstudiante"class="form-control"/>
                                    </div>
                                        
                                    <br/>
                                    <br/>
                                    <button class="btn btn-success" id="btnGenerar">
                                        Generar Formulario
                                    </button>
                                    
                                </div>
                            
                        </div>


                        <div class="card shadow mb-4 d-xl-none d-block">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-secondary">                                Filtros de reporte
                                </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="card-body">
                                    
                                    <div>
                                        <label for="tipos">Formulario a generar</label>
                                        <select name="tipos" id="Nreportes2" class="form-control select-2" th:field="${reporte2}"   >
                                            <option value="">Seleccione un formulario...</option>
                                            <option value="PPUDBF101" >PP-UDB-FI-01</option>
                                            <option value="PPUDBF102" >PP-UDB-FI-02</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="idpasantia2">
                                            Número de práctica profesional:
                                        </label>
                                        <input type="text" id="idpasantia2" class="form-control"/>
                                    </div>
                                    <div>
                                        <label for="idCarrera2" class="form-label">
                                            Carrera: 
                                        </label>
                                        <select id="idCarrera2" name="idCarrera2" class="form-control select-2" >
                                            <option value="0">Seleccionar carrera...</option>
                                            <option th:each="carrera : ${carreras}" th:value="${carrera.idCarrera}" th:text="${'[' + carrera.codCarrera +'] ' + carrera.descripcion}">
                                            </option>
                                        </select>
                                    </div>
                           
                                    <div>
                                        <label for="codEstudiante2">
                                            Código de estudiante: 
                                        </label>
                                        <input type="text" id="codEstudiante2"class="form-control"/>
                                    </div>
                                       
                                    <br/>
                                    <br/>
                                    <button class="btn btn-success" id="btnGenerar2">
                                        Generar Formulario
                                    </button>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-8">
                        <iframe width="100%" id="frame"
                        height="100%" src="/reportPrinter" frameborder="0">

                        </iframe>
                    </div>
                </div>
              </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"/>
            <!-- End of Footer -->

        </div>
    </div>

    <div th:replace="fragments/userModal :: userModal">

    </div>

    <div th:replace="fragments/jsComponents :: jsScripts">

    </div>

    <script type="text/javascript"  th:inline="javascript">
       
        $(document).ready(()=>{

            $("#btnGenerar").on("click", (e)=> {
                let idpasantia = $("#idpasantia").val(); 
                let idCarrera = $("#idCarrera").val(); 
                let codEstudiante = $("#codEstudiante").val(); 
                let reporte = $("#Nreportes").val(); 

                let url = "/formularios/"+ reporte + "/"+idpasantia + "-" + idCarrera + "-" + codEstudiante; 

                //alert(idpasantia  + ' - ' + codEstudiante + ' ' + reporte )
                if (idpasantia == "" && idCarrera == 0 
                    && codEstudiante == "" 
                    && reporte == "" 
                ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, complete el formulario para generar el formulario deseado', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                if(idpasantia == "" ){
                   
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, ingrese un número de pasantia', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }
                if(idCarrera == 0 ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, seleccion una carrera', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                if(codEstudiante == "" ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, añada un código de estudiante para realizar la búsqueda', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                if(reporte == "" ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, seleccion una formulario para generar', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }
                $("#frame").attr("src", url); 
            })

            $("#btnGenerar2").on("click", (e)=> {
                let idpasantia = $("#idpasantia2").val(); 
                let idCarrera = $("#idCarrera2").val(); 
                let codEstudiante = $("#codEstudiante2").val(); 
                let reporte = $("#Nreportes2").val(); 

                let url = "/formularios/"+ reporte + "/"+idpasantia + "-" + idCarrera + "-" + codEstudiante; 

                if (idpasantia == "" && idCarrera == 0 
                    && codEstudiante == "" 
                    && reporte == "" 
                ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, complete el formulario para generar el formulario deseado', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                
             
                if(idpasantia == "" ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, ingrese un número de pasantia', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }
                if(idCarrera == 0 ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, seleccion una carrera', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                if(codEstudiante == "" ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, añada un código de estudiante para realizar la búsqueda', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                if(reporte == "" ){
                    Swal.fire({
                        title: 'Error', 
                        text: 'Por favor, seleccion una formulario para generar', 
                        icon: 'error', 
                        confirmButtonText: 'Confirmar'
                    });

                    return; 
                }

                $("#frame").attr("src", url); 
            })
        })    
    </script>
</body>
</html>